.sidebar {
    width: 218px;
    font-size: 14px;
}

.nav-link svg path {
    fill: black;
}

.nav-link span,
.list-group-item div {
    color: #052C65;
}

.nav-link.active svg path {
    fill: white;
}

.nav-link.active span,
.list-group-item.active div {
    color: white;
}

.sidebar__bottom img {
    cursor: pointer;
}

#buttonCategories svg {
    transition: rotate .2s;
    rotate: 90deg;
}

#buttonCategories.collapsed svg {
    transition: rotate .2s;
    rotate: 0deg;
}